.mainHeader {
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #08377e;
  color: #f07121ea; */
  border-top: 1px solid #063c8d;
  color: #063c8d;
  /* border-radius: 1rem; */
}

.mainHeader h1 {
  font-size: 1.5rem;
}
.mainHeader span {
  font-size: 1.3rem;
}

.mainHomePage {
}
