.mainHeader {
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b3358;
  color: #e4864cea;
  border-radius: 1rem;
}

.mainHeader h1 {
  font-size: 1.5rem;
}
.mainHeader span {
  font-size: 1.3rem;
}

.mainHomePage {
}
