
.mainHeader {
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #08377e;
  color: #f07121ea; */
    border-top: 1px solid black;
    /* border-radius: 1rem; */
}

.mainHeader h1 {
    font-size: 1.5rem;
}
.mainHeader span {
    font-size: 1.3rem;
}

.mainHomePage {
}

.mainHomePage section > a > button {
    border: none;
    background-color: #063c8d00;
    width: 100vw;
    padding: 0;
    text-decoration: underline;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.mainHomePage section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainHomePage section:last-child article {
    margin: 1rem;
    width: 70vw;
    border: black solid 1px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(244, 243, 243);
}

.mainHomePage section:last-child article img {
    width: 20vw;
    border-radius: 1rem;
    box-shadow: black 4px 2px;
}
